html {
  scroll-behavior: smooth;
}

body {
  font-family: GroFontLight;
  background-color: #c2dbff3d;
  overflow-x: hidden;
}

.navbar {
  min-height: 80px;

  .navbar-brand {
    object {
      width: 115px;
      height: auto;
    }
  }
}

.btn-primary {
  background-color: #2a4dff;
  &:disabled {
    background-color: #d0d0d3;
    border-color: #d0d0d3;
  }
}

.custom-container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 32px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-500;
  border-radius: 90px;
}

.img-header {
  width: 157px;
  height: auto;
}

.navbar {
  min-height: 72px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.form-logo {
  margin-bottom: 40px;
}

.title-l {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.title-m {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #171717;
}

.title-s {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #171717;
}

.body-m {
  font-family: GroFontMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #737373;
}

.body-s {
  font-family: GroFontMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;

  &.darker {
    color: #171717;
  }
}

.ReactModal__Overlay--after-open {
  background-color: rgba(105, 99, 99, 0.75) !important;
}

.bg-img-hero {
  background-image: url("../img/Hero/Hero.png") !important;
}

.circle {
  background: $gray-600;
  border-radius: 20px;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.gradient-bg {
  background-image: linear-gradient(#f1f6ff, $white);
}

.gradient-bg-to {
  background-image: linear-gradient($white, #f1f6ff);
}

.navbar-header {
  background: #000000;

  .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav-header-custom {
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;

    .btn-light-space {
      padding: 12px 16px;
      background: #ffffff;
      font-size: 14px;
      font-family: GroFontBold;
      text-align: center;
      color: #000000;
      border-radius: 4px;

      &:hover {
        color: #ffffff;
        background: #2a4dff;
      }
    }

    .nav-item {
      .vertical-line {
        border-left: 2px solid #ffffff;
        height: 15px;
        margin-right: 10px;
      }

      img {
        width: 20px;
      }
    }

    .dropdown {
      cursor: pointer;

      .dropdown-item-nav {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        background: #ffff;
        border-radius: 8px;
        top: 39px;
        right: 0px;

        a {
          cursor: pointer;
          padding: 10px;
          font-weight: bold;
          width: 126px;
          border-radius: 8px;
          text-decoration: none;
          color: #000000;

          &:hover {
            background-color: #2a4dff;
            color: #ffffff;
          }
        }
      }
    }
  }
}

.Hero {
  background-color: #009dff11 !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  display: flex;
  align-items: center;

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hero-tittle {
      font-size: 64px;
      line-height: 120%;
      margin-bottom: 10px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
    }

    .hero-desc {
      font-size: 20px;
      margin-bottom: 10px;
      line-height: 150%;
      text-align: center;
      color: #ffffff;
    }

    .hero-search {
      display: flex;
      align-items: center;
      height: 56px;
      width: 560px;
      border-radius: 4px;
      margin-top: 10px;
      background: #ffffff;
      padding-left: 10px;

      .input-Address {
        border: none;
        outline: none;
        input {
          border: none;
          outline: none;
          padding-left: 10px;
          font-size: 16px;
          line-height: 24px;
          width: 100%;

          &:focus {
            border: none;
            outline: none;
          }
        }
      }

      svg {
        color: #212529;
      }

      button {
        border: none;
        outline: none;
        width: 220px;
        height: 56px;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
        background: #2a4dff;
        border-radius: 0px 4px 4px 0px;

        &:hover {
          border: 1px solid #2a4dff;
          color: #2a4dff;
          background: #ffffff;
        }
      }
    }
  }
}

.motto-content {
  padding: 80px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;

  .motto-title {
    font-size: 40px;
    color: #000000;

    span {
      font-weight: bold;
    }
  }

  .motto-desc {
    font-size: 16px;
    color: #121629;
    width: 664px;
  }
}

.hosting-content {
  background: #f8f9fa;
  padding: 80px 0;
  text-align: center;

  .hosting-title {
    font-size: 40px;
    color: #000000;

    span {
      font-weight: bold;
    }
  }

  .content-card-hosting {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;

    .card-hosting {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 330px;
      }

      .hosting-card-title {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        width: 330px;
      }

      .hosting-card-desc {
        margin-top: 5px;
        font-size: 16px;
        color: #3d3d43;
        width: 330px;
      }
    }
  }
}

.list-content {
  background: #ffffff;
  padding: 80px 0;
  text-align: center;

  .list-title {
    font-size: 40px;
    color: #000000;
    margin-bottom: 35px;

    span {
      font-weight: bold;
    }
  }

  .list-title-small {
    color: #121629;
    font-size: 24px;
  }

  .list-img {
    width: 100%;
  }

  .list-content-item {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;

    .list-item {
      text-align: start;
      width: 223px;
      font-weight: bold;
      margin-top: 35px;

      img {
        width: 30px;
      }

      .list-card-title {
        margin: 8px 0;
        font-size: 18px;
        color: #121629;
      }

      .list-card-desc {
        letter-spacing: 0.01em;
        font-size: 16px;
        color: #797a86;
      }
    }
  }
}

.faq-content {
  padding: 80px 0;
  text-align: center;
  background-color: #f8f9fa;

  .faq-title {
    font-size: 40px;
    margin-bottom: 35px;
    color: #212529;

    span {
      font-weight: bold;
    }
  }

  .card-faq {
    background: #ffffff;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;

    .title-content-faq {
      font-size: 20px;
      font-weight: bold;
      color: #212529;
      margin-right: 40px;
    }

    .faq-active {
      color: #2a4dff;
    }

    .desc-content-faq {
      font-size: 16px;
      font-weight: 400;
      text-align: left;
      color: #121629;
      padding-top: 15px;

      @keyframes openComplated {
        0% {
          opacity: 0.3;
        }

        100% {
          opacity: 1;
        }
      }

      animation: 0.8s ease-out 0s 0.5 openComplated;

      span {
        font-weight: bold;
      }
    }

    .desc-content-faq-close {
      height: min-content;
      display: none;
      transition: display height 2s;

      span {
        font-weight: bold;
      }
    }
  }
}

.content-become {
  background-color: #f8f9fa;
  padding-top: 48px;
  padding-bottom: 48px;

  .bg-become {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a4dff;
    border-radius: 5px;
    padding: 48px;
    color: #ffffff;

    .become-title {
      font-weight: bold;
      font-size: 40px;
      text-align: center;
      letter-spacing: -0.02em;
    }

    .become-desc {
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.01em;
    }

    a {
      margin-top: 20px;
      text-decoration: none;
      border-radius: 4px;
      font-weight: 600;
      font-size: 18px;
      font-weight: bolder;
      text-align: center;
      letter-spacing: 0.01em;
      border: 1px solid #ffffff;
      background: #ffffff;
      padding: 13px 20px;

      &:hover {
        border: 1px solid #ffffff;
        color: #ffffff;
        background: #2a4dff;
      }
    }
  }
}

footer {
  background: #101010;
  border-top: 4px solid #2a4dff;
  padding: 2.5rem 0;

  .footer-title {
    font-weight: bolder;
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 4px;
  }

  .footer-items {
    margin: 4px 0;

    a {
      font-size: 0.9rem;
      color: #ffffff;
    }
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .footer-icon {
      a {
        margin: 0 5px;
      }
    }

    .tect-checkout {
      font-size: 14px;
      color: #ffffff !important;
      margin-top: 15px;
      text-align: end;
    }

    .footer-vector {
      img {
        margin: 0 5px;
      }
    }

    .icon-makanat {
      border: 1px solid #101010;
      margin-top: 15px;
    }

    .copy-right {
      margin-top: 10px;
      font-weight: 600;
      font-size: 14px;
      color: #ffffff;
    }
  }
}

.nav-result {
  background-color: #ffffff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  .hidden-map {
    .switch-map {
      display: flex;
      color: #3d4152;
      letter-spacing: 0.01em;
      font-size: 20px;
      justify-content: flex-end;
      align-items: center;
      span {
        margin-right: 5px;
      }
    }
  }
  .btn-attendees {
    display: flex;
    align-items: center;
    border: 1px solid #d0d0d3;
    border-radius: 5px;
    padding: 0 8px;
    cursor: pointer;
    height: 100%;
    span {
      margin-left: 5px;
    }
  }
  .active-attendees {
    color: #fff;
    background-color: #2a4dff;
  }

  .option-attendees {
    top: 61px;
    position: absolute;
    background: #fff;
    width: 265px;
    border-radius: 5px;
    border: 1px solid #d0d0d3;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 200;
    .options {
      padding: 20px 0px;
      cursor: pointer;
      .option {
        padding: 0px 20px;
        width: inherit;
        display: flex;
        input[type="radio"] {
          margin-right: 10px;
          width: 24px;
          height: 24px;
        }
        input[type="radio"]:checked:after {
          margin-right: 10px;
          width: 24px;
          height: 24px;
          border-radius: 15px;
          position: relative;
          background-color: #fff;
          content: "";
          display: inline-block;
          visibility: visible;
          border: 6px solid #2a4dff;
        }
        label {
          color: #3d4152;
          font-size: 16px;
          letter-spacing: 0.01em;
        }
      }
    }
    .btn-clear {
      color: #3d4152;
      text-align: center;
      text-decoration-line: underline;
      font-size: 14px;
      font-weight: bolder;
      cursor: pointer;
    }
  }
  
  .btn-datepick {
    display: flex;
    align-items: center;
    border: 1px solid #d0d0d3;
    border-radius: 5px;
    padding: 12px 8px;
    margin-right: 10px;
    cursor: pointer;
    span {
      margin-left: 5px;
    }
  }

}

.map-container {
  width: 100%;
  height: 100%;
}

.top-content-card {
  display: flex;
  align-items: center;
  .title-top {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #3d4152;
    font-weight: bolder;
  }
  .css-b62m3t-container {
    width: 100%;
    .css-13cymwt-control {
      min-height: 44px;
    }
    .css-t3ipsp-control {
      min-height: 44px;
    }
    .css-1u9des2-indicatorSeparator {
      display: block;
    }
    .css-1nmdiq5-menu {
      z-index: 20;
    }
  }
}

.card-content-img {
  cursor: pointer;
  border: 1px solid transparent;
  .new-text {
    width: fit-content;
    color: #17181c;
    background: #f9d83e;
    font-size: 14px;
    font-weight: bolder;
    padding: 6px 8px;
    border-radius: 4px;
    position: absolute;
    top: 27px;
    left: 18px;
    z-index: 10;
  }
  .like-icon {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 10;
    right: 0;
    top: 27px;
    right: 18px;
    border-radius: 90px;
    display: flex;
    padding: 0 6px;
    padding-top: 1px;
    .ri-heart-3-line {
      color: #fff;
      font-size: 20px;
    }
    .ri-heart-3-fill {
      color: #d90027;
      font-size: 20px;
    }
  }

  .title-content-card {
    font-size: 20px;
    font-weight: bolder;
    color: #0d1126;
  }
  .rate-content-card {
    display: flex;
    align-items: center;
    span {
      padding: 0 5px;
    }
  }
  .desc-content-card {
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #0d1126;
    span {
      font-weight: bolder;
    }
  }
  .hero-slider-root {
    .hero-slider-wrapper {
      height: 242px !important;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      .index-module_Button__hkx4Z {
        svg {
          display: none;
        }
      }
    }
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 4px;
    .hero-slider-root {
      .hero-slider-wrapper {
        .index-module_Button__hkx4Z {
          svg {
            display: flex;
            width: 30px;
            background: #000000;
            border-radius: 90px;
            height: 29px;
            padding-right: 5px;
            padding-left: 5px;
            margin: 23px;
            transition: display 0.3s;
          }
        }
      }
    }
    transition: box-shadow 0.3s;
  }
}

.pagination {
  .active-item {
    .page-link {
      background-color: #0d1126;
      color: #fff !important;
    }
  }
  .page-item {
    .page-link {
      font-size: 16px;
      display: flex;
      align-items: center;
      color: #0d1126;
      cursor: pointer;
      i {
        font-size: 16px;
      }
      &:hover {
        background-color: #0d1126;
        color: #fff;
      }
    }
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1024px) {
  .container {
    max-width: 960px;
  }

  .hosting-content {
    .content-card-hosting {
      width: 100%;
    }
  }

  .list-content {
    margin-top: 10px;

    .container-mobile-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1060px;
      margin: 0 auto;

      .list-content-item {
        width: 100%;
      }

      .list-img {
        width: 100%;
        height: 437px;
      }

      .list-content-item {
        width: 890px;
      }
    }
  }
}

@media (max-width: 762px) {
  .custom-container {
    max-width: 962px;
    padding: 0 16px;
  }
  .navbar-header {
    .burger-nav {
      color: #ffffff;
    }
  }

  .modalNavCustomHero {
    padding: 28px;
    background-image: linear-gradient(
      to bottom right,
      #000000,
      #222222
    ) !important;

    .modalNavHeaderHero {
      display: flex;
      justify-content: space-between;
    }

    .content-nav-modal {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;

      .title-nav-mobile {
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #ffffff;
      }

      .items-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;

        a {
          margin-top: 15px;
          width: 100%;
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          letter-spacing: 0.04em;
          color: #ffffff;
          padding: 15px 0;
          border-radius: 5px;
          border: 1px solid #ffffff;
        }

        .small {
          font-size: 16px;
        }

        .btn-list {
          background: #ffffff;
          color: #2a4dff;
          font-weight: bold;
        }
      }

      .line-nav-hori {
        border: 1px solid #ffffff;
        width: 100%;
        margin: 12px 0;
      }
    }
  }

  .Hero {
    .hero-content {
      align-items: start;

      .hero-tittle {
        font-size: 32px;
      }

      .hero-desc {
        width: 335px;
        text-align: start;
        font-size: 16px;
      }

      .hero-search-mobile {
        width: 100%;

        .hero-search {
          display: flex;
          align-items: center;
          width: inherit;
          height: 56px;
          border-radius: 4px;
          margin-top: 10px;
          background: #ffffff;
          padding-left: 10px;

          .input-Address {
            border: none;
            outline: none;
            input {
              border: none;
              outline: none;
              padding-left: 10px;
              font-size: 16px;
              line-height: 24px;
              width: 100%;

              &:focus {
                border: none;
                outline: none;
              }
            }
          }

          svg {
            color: #212529;
          }
        }

        button {
          border: none;
          outline: none;
          width: 100%;
          margin-top: 20px;
          height: 56px;
          font-weight: bold;
          font-size: 18px;
          line-height: 24px;
          text-align: center;
          color: #ffffff;
          background: #2a4dff;
          border-radius: 0px 4px 4px 0px;

          &:hover {
            border: 1px solid #2a4dff;
            color: #2a4dff;
            background: #ffffff;
          }
        }
      }
    }
  }

  .motto-content {
    padding: 32px 20px;

    .motto-title {
      font-size: 28px;
      width: 335px;
    }

    .motto-desc {
      margin-top: 24px;
      font-size: 16px;
      width: 335px;
    }
  }

  .hosting-content {
    padding: 48px 0;

    .hosting-title {
      font-size: 28px;
    }

    .content-card-hosting {
      width: 100%;

      .card-hosting {
        img {
          width: 250px;
        }

        .hosting-card-title {
          font-size: 20px;
        }

        .hosting-card-desc {
          font-size: 16px;
        }
      }
    }
  }

  .list-content {
    padding: 48px 0;
    margin-top: 10px;

    .container-mobile-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 420px;

      .list-title {
        font-size: 28px;
        letter-spacing: -0.02em;
      }

      .list-title-small {
        font-size: 18px;
        line-height: 27px;
      }

      .list-content-item {
        width: 100%;
      }

      .list-img {
        width: 100%;
        height: 237px;
      }

      .list-content-item {
        width: 420px;

        .list-item {
          width: 157.5px;

          .icon-list {
            width: 25px;
          }

          .list-card-title {
            font-size: 16px;
          }

          .list-card-desc {
            font-size: 14px;
          }
        }
      }
    }
  }

  .faq-content {
    padding: 48px 0;

    .container-faq {
      max-width: 962px;

      .faq-title {
        font-size: 28px;
      }

      .card-faq {
        .title-content-faq {
          font-size: 18px;
          text-align: left;
        }

        .desc-content-faq {
          font-size: 16px;
          text-align: left;
        }
      }
    }
  }

  .content-become {
    padding: 48px 20px;
    .custom-container {
      padding: 0;
    }

    .bg-become {
      padding: 28px;

      .become-title {
        font-size: 28px;
        width: 229px;
        letter-spacing: -0.02em;
      }

      .become-desc {
        font-size: 18px;
        width: 295px;
        letter-spacing: 0.01em;
      }

      a {
        width: 100%;
        padding: 14px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  footer {
    .footer-title {
      font-size: 17px;
      display: flex;
      justify-content: space-between;

      svg {
        background: #7f7f7f;
        border-radius: 10px;
        color: #101010;
      }
    }

    .item-footer {
      margin-bottom: 20px;

      .footer-items {
        a {
          font-size: 17px;
        }
      }
    }

    .footer-right {
      align-items: center;

      .footer-icon {
        a {
          img {
            width: 35px;
          }
        }
      }

      .tect-checkout {
        font-weight: bolder;
      }

      .footer-vector {
        img {
          width: 40px;
          margin-bottom: 5px;
          margin-top: 5px;
        }
      }

      .icon-makanat {
        margin-top: 15px;
        width: 200px;
      }

      .copy-right {
        margin-top: 10px;
        font-weight: 600;
        font-size: 14px;
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 404px) {
  .list-content {
    .container-mobile-list {
      width: 383px;

      .list-content-item {
        width: 383px;
      }
    }
  }
}

@media (max-width: 383px) {
  .list-content {
    .container-mobile-list {
      width: 100%;

      .list-content-item {
        width: 100%;
      }
    }
  }
}
