.react-datepicker {
  min-width: 280px;
  top: 12px;
  .react-datepicker__current-month {
    padding-top: 24px;
    padding-bottom: 17px;
    border-bottom: 1px solid #d0d0d3;
    min-width: 280px;
  }
}

.react-datepicker-wrapper {
  width: fit-content !important;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  background-color: #ffffff;
}

.react-datepicker-popper {
  padding-top: 0 !important;
  z-index: 20 !important;  
  inset: -12px auto auto 0px !important;
}

.react-datepicker__header {
  border-bottom: none !important;
  background: #ffffff;
  padding: 0 !important;
}
.react-datepicker__triangle {
  margin-top: 0 !important;
}

.react-datepicker__navigation-icon::before {
  border-width: 2px 2px 0 0 !important;
  border-color: #0d1126 !important;
}

.react-datepicker__navigation {
  height: 77px !important;
}

.react-datepicker__day-names {
  padding-top: 24px;
}

.react-datepicker__input-time-container {
  margin-bottom: 0 !important;
}

.react-datepicker-time__caption {
  display: none !important;
}
.datepick-time {
  width: 135%;
  border: 1px solid #d0d0d3;
  padding: 0.4rem !important;
}

.footer-datepick {
  margin-left: -1.62rem;
  border: 1px solid #d0d0d3;
  width: auto !important;
}

.react-datepicker__day--keyboard-selected{
  border: 1px solid #e5e5e5 !important;
}

.react-datepicker__day--keyboard-selected:hover {
  background-color: #f5f5f8 !important;
}

.react-datepicker__day--keyboard-selected:focus-visible {
  background-color: #f5f5f8 !important;
  outline: none;
}

.react-datepicker__day--selected {
  background-color: #2A4DFF !important;
}
