.popover {
  transform: translate(824px, 42px) !important;
  min-width: 340px;
  .popover-arrow {
    position: static !important;
    transform: translate(0, 0px) !important;
    .popover-body {
      min-width: 340px;
      max-width: 340px;
    }
  }
}

.filter-sort {
  min-width: 340px;
  max-width: 340px;
}
